<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Pictures</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="estate-body">
    <div class="container">
        <h1>Welcoming Your New Opportunities!</h1>
        {% for pic in estate_pics %}
            <img src="{{ pic }}" alt="Real Estate Pic" class="estate-img">
        {% endfor %}
        <br>
        <a href="/" class="btn">Back to Home</a>
    </div>
</body>
</html>
